.game-body {
  background-color: #529BFF;
  background-image: none;
  padding: 0 30px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 15px;
  padding: 15px;
}

.life-score {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.life-score.lost {
  justify-content: flex-start;
  gap: 20px;
}

.heart-item {
  width: 50px;
  height: auto;
}

.score-section, .attempts-left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: whitesmoke;
  text-shadow: -2px -2px 0 #000;
}

.game-main-content {
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;
}

.country-container, .instruction-and-action {
  margin: 0 30px;
  height: 70vh;
}

.country-container {
  width: 60%;
}

.instruction-and-action {
  width: 40%; 
}

.country-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: space-between;
}

.country-flag, .country-title, .capital-title, .country-name-wrapper, .capital-name-wrapper{
  padding: 20px;
  width: 100%;
}

.country-flag {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 24px;
}

.country-flag-image {
  display: block;
  max-height: 300px;
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border: 10px solid black;
}

.country-title, .capital-wrapper {
  font-family: "Pixellari", monospace, sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  color: whitesmoke;
  text-shadow: -2px -2px 0 #000;
  text-align: left;
  padding: 10px 20px 0;
}

.capital-wrapper {
  width: 100%;
  padding-bottom: 35px;
}

.country-name-wrapper  {
  display: flex;
  padding: 0 20px;
}

.letter-generator input {
  height: 55px;
  width: 56px;
  margin: 4px;
  background-color: #E15201;
  border: 5px solid #e13707;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: left;
  font-family: var(--website-main-font);
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
}

.letter-circle.correct {
  background-color: #0fd423;
  border: 5px solid #046014;
}

.letter-circle.present {
  background-color: #cae217;
}

.letter-circle.show {
  background-color: #3217e2;
  border: 5px solid #120460;
}

.country-name-content {
  margin: 20px 0 25px;
}

.typing-input {
  left: -9999px; 
  position: absolute;
}

.letter-generator span.letter-space {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.instruction-and-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.instruction {
  display: none;
}

.instruction.active {
  display: flex;
  height: 90%;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  line-height: 1rem;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #000;
  padding: 32px 16px 0;
}

.action-image-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.action-image-container-mobile.active{
  display: none;
}

.action-image-container, .girl-correct-image, .girl-incorrect-image, .you-won-image, .you-loose-image {
  display: none;
}

.country-girl-image, .girl-correct-image.active, .girl-incorrect-image.active, .you-won-image.active, .you-loose-image.active {
  margin: auto 0;
  display: block;
  max-height: 600px;
  width: auto;
  max-width: 100%;
  height: auto;
}

.country-girl-image.hide {
  display: none;
}

.action-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.action-button, .home-button {
  width: 150px;
  border-radius: 7px;
  background-color: var(--button-color);
  color: whitesmoke;
  font-family: "Press Start 2P", monospace, sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 15px 0;
  border: 4px solid #E15201;
  box-shadow: 3px 3px 0 #645e5e;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease;
  text-shadow: -1px -1px 0 #000;
}

.home-button {
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover, .home-button:hover  {
  box-shadow: 1px 1px 0 #000;
  background-color: rgb(169, 237, 33);
  color: var(--button-color);
}

.action-button:active, .home-button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #000;
}

.action-menu-mobile {
  display: none;
}

/* For mobile phones */
@media (max-width: 767px) {

  .game-body {
    padding: 0;
  }

  .header {
    flex-direction: column;
    margin: 0;
  }

  .life-score, .attempts-left-section, .score-section {
    padding-bottom: 10px;
  }

  .heart-item {
    width: 30px;
  }

  .attempts-left-section, .score-section {
    font-size: 1rem;
    padding-top: 10px;
  }

  .game-main-content {
    flex-direction: column;
    margin-bottom: 0;
  }

  .country-container, .instruction-and-action {
    width: 100%;
    margin: 0;
  } 

  .country-flag {
    margin: 0;
    padding-top: 0;
    position: relative;
  }

  .country-flag-image {
    max-height: 200px;
  }

  .country-name-wrapper {
    padding-left: 10px;
    padding-right: 0;
  }

  .country-flag, .country-title, .capital-title, .country-name-wrapper, .capital-name-wrapper{
    width: 100%;
  }

  .country-title, .capital-wrapper, .capital-name {
    width: 100%;
    font-size: 1.3rem;
    padding-top: 10px;
  }

  .capital-wrapper {
    margin-bottom: 24px;
  }
  
  .letter-generator input {
    height: 25px;
    width: 26px;
    border: 2px solid #e13707;
    font-size: 0.8rem;
  }

  .letter-circle.correct {
    border:2px solid #046014;
  }

  .capital-wrapper {
    padding-bottom: 0;
  }

  .game-main-content {
    display: flex;
    flex-direction: column;
  }

  .instruction-and-action {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-end;
  }

  .instruction p{
    font-size: 0.6rem;
  }

  .action-image-container.active {
    display: none;
  }
  
  .action-image-container-mobile.active{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;
  }

  .country-girl-image, .girl-correct-image.active, .girl-incorrect-image.active, .you-won-image.active, .you-loose-image.active {
    max-height: 200px;
  }

  .action-menu {
    display: none;
  }

  .action-menu-mobile {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }

  .action-button, .home-button {
    width: 60px;
    font-size: 0.7rem;
    padding: 5px 0;
    text-shadow: -1px -1px 0 #000;
  }
  
  .home-button {
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .action-button img {
    width: 25px;
    height: auto;
  }

  .footer {
    padding: 20px;
  }

  .author {
    font-size: 0.7rem;
  }

  .action-button:hover, .home-button:hover  {
    background-color: var(--button-color);
  }
}

/* for tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .header {
    padding: 0;
  }

  .heart-item {
    width: 40px;
  }

  .attempts-left-section, .score-section {
    font-size: 1.3rem;
    padding-top: 10px;
  }

  .game-main-content {
   flex-direction: column;
   margin-bottom: 0;
  }

  .country-container, .instruction-and-action {
    width: 100%;
    margin: 0;
  } 

  .instruction-and-action {
    justify-content: flex-end;
  }

  .country-flag {
    margin: 0;
    padding: 25px 0;
    position: relative;
  }

  .country-flag-image {
    max-height: 350px;
  }

  .instruction {
    margin-bottom: 30px;
  }

  .country-girl-image, .girl-correct-image.active, .girl-incorrect-image.active, .you-won-image.active, .you-loose-image.active {
    max-height: 400px;
  }

  .action-menu {
    width: 100%;
    flex-wrap: nowrap;
  }

  .action-button:hover, .home-button:hover  {
    background-color: var(--button-color);
    color: whitesmoke;
  }

  .action-image-container.active {
    display: none;
  } 
  .action-image-container-mobile.active{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;
  }

  .country-girl-image, .girl-correct-image.active, .girl-incorrect-image.active, .you-won-image.active, .you-loose-image.active {
    max-height: 200px;
  }
}