.game-body {
  background-color: #529BFF;
  background-image: none;
  padding: 0 50px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 15px;
  padding: 15px;
}


.life-score {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.life-score.lost {
  justify-content: flex-start;
  gap: 20px;
}

.heart-item {
  width: 50px;
  height: auto;
}

.score-section, .attempts-left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: whitesmoke;
  text-shadow: -2px -2px 0 #000;
}

.game-main-content {
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;
}

.country-container, .instruction_and_action {
  width: 50%;
  margin: 0 30px;
  height: 70vh;
}

.country-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  align-items: center;
  /* background-color: #009402; */
  justify-content: space-between;
}

.country-flag, .country-title, .capital-title, .country-name-wrapper, .capital-name-wrapper{
  padding: 20px;
  width: 100%;
}

.country-flag {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 24px;
}

.country-flag-image {
  display: block;
  max-height: 400px;
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border: 10px solid black;
}

.country-title, .capital-wrapper {
  font-family: "Pixellari", monospace, sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  color: whitesmoke;
  text-shadow: -2px -2px 0 #000;
  text-align: left;
  padding: 10px 20px 0;
}

.capital-wrapper {
  width: 100%;
  padding-bottom: 35px;
}

.country-name-wrapper  {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.letter-generator input {
  height: 55px;
  width: 56px;
  margin: 4px;
  background-color: #E15201;
  border: 5px solid #e13707;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: left;
  font-family: var(--website-main-font);
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
}

/* to color the correct and incorrect input */
.letter-circle.correct {
  background-color: #0fd423;
}

.letter-circle.present {
  background-color: #cae217;
}
/*to color the correct and incorrect input  */

.country-name-content {
  margin: 20px 0 25px;
}

.typing-input {
  /* what most games do to hide input */
  left: -9999px; 
  position: absolute;
}

.letter-generator span.letter-space {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 10px;  /* This creates the actual space between words */
  padding: 0;
  background-color: transparent;
  border: none;
}

.instruction_and_action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.instruction.active {
  display: flex;
  height: 90%;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  line-height: 1rem;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #000;
  padding: 32px 16px 0;
}

.instruction {
  display: none;
}

.country-girl-image-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.country-girl-image {
  max-height: 500px;
  width: auto;
  max-width: 100%;
  height: auto;
}

.country-girl-image-container {
  display: none;
}

.action-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action-button, .home-button {
  width: 150px;
  border-radius: 7px;
  background-color: var(--button-color);
  color: whitesmoke;
  font-family: "Press Start 2P", monospace, sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 15px 0;
  border: 4px solid #E15201;
  box-shadow: 3px 3px 0 #645e5e;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease;
  text-shadow: -1px -1px 0 #000;
}

.home-button {
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover, .home-button:hover  {
  box-shadow: 1px 1px 0 #000;
  background-color: rgb(169, 237, 33);
  color: var(--button-color);
}

.action-button:active, .home-button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #000;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }

  .score-section, .attempts-left-section {
    justify-content: left;
  }

}